<%- include ("templates/head") %>

<br><br>
<div class="container">    
    <a class="btn btn-primary" href="" role="button">Nuevo Presupuesto</a>
    <table class="tftable" border="1">
        <tr><th>Id Presupuesto</th><th>Fecha de Creacion</th><th>Proyecto</th><th>Version</th><th>Editar</th><th>Enviar</th><th>Eliminar</th></tr>
        <tr><td>Id Presupuesto</td><td>Fecha de Creacion</td><td>Proyecto</td><td>Version</td><td>Editar</td><td>Enviar</td><td>Eliminar</td></tr>
        
    </table>
    
</div>

</body>
</html>